# Dipendenze Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Log e output vari
.npm/
.eslintcache
.parcel-cache/
.next/
.nuxt/
dist/
build/
coverage/
.turbo/

# Editor o IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Altri file di sistema
.cache/
tmp/
